.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.container{
  width: 1353.41px;
  height: 675.65px;
  border: 1px solid black;
  display: flex;
}

.left{
  width: 574.36px;
  border-right: 1px solid black;
  height: 675.65px;
  background-color: #007AFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading-container{
  color: white;
  width: 390.6px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  font-size: larger; 
  font-weight: 600;
}

.img-box{
  width: 310.46px;
  height: 444.45px;
}

.img{
  width: 310.46px;
  height: 444.45px;
}

.dots{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.dot{
  width: 10px;
  height: 10px;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 779px;
  height: 675.65px;
}